*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #0d1117;         /* dark tech theme */
    color: #fff;
}

/* -------------------- NAVBAR -------------------- */
nav{
    width: 100%;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(13,17,23,0.8);
    backdrop-filter: blur(8px);
}

nav h2{
    color:#58a6ff;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: .3s;
}

nav ul li a:hover{
    color:#58a6ff;
}

/* -------------------- HOME SECTION -------------------- */
#home{
 

    justify-content:center;
    align-items:center;
    text-align:center;
    padding: 0 20px;
}

#home h1{
    font-size:80px;
    color:#58a6ff;
    font-family:fantasy
    
}

#home p{
    margin-top:15px;
    font-size: 18px;
    color:#b6b1b1;
    font-size:200%
}


/* -------------------- ABOUT -------------------- */
#about{
    padding:80px 40px;
}

#about h2{
    color:#58a6ff;
    margin-bottom: 20px;
    font-size: 50px;
}

#about p{
    max-width:fit-content;
    color:#c5c5c5;
    font-size: 25px;
}

/* -------------------- SKILLS -------------------- */
#skills{
    padding:0px 40px;
    font-size: 50px;
}

#skills h2{
    color:#58a6ff;
    margin-bottom: 20px;
}

.skill-box{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}

.skill{
    background:#161b22;
    padding:15px 25px;
    margin:10px;
    border-radius:8px;
    border:1px solid #58a6ff;
    transition:.3s;
}

.skill:hover{
    border-color:#58a6ff;
}

/* -------------------- PROJECTS -------------------- */
#projects{
    padding:80px 40px;
}

#projects h2{
    color:#58a6ff;
    margin-bottom: 20px;
    font-size: 50px;
}

.project{
    background:#161b22;
    padding:20px;
    border-radius:10px;
    border:1px solid #30363d;
     margin-bottom:20px;
    margin-right: 20px;
     width: 700px;
   transition:.3s;
}

.project-card:hover{
    border-color:#58a6ff;
}

/* CONTACT  */
#contact{
    padding:80px 40px;
}

#contact h2{
    color:#58a6ff;
    margin-bottom: 20px;
    font-size: 50px;
}

#contact p{
    color:#c5c5c5;
    font-size: 30px;
}

/* -------------------- FOOTER -------------------- */
footer{
    text-align:center;
    padding:20px;
    background:#0d1117;
    border-top:1px solid #30363d;
    margin-top:20px;
    color:#999;
}
#photo {
   margin-top: 100px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.image{
    margin-right: 2px;

}
p{display: flex: ;}

.project-card{
    display: flex;
    
    
}
#link{
    color: aliceblue;
}